div {
    text-align: center;
}
h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 186px;
    font-weight: 200;
    margin: 0px;
    color : #ffa34f;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
    font-weight: 200;
}

p {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

a {
    font-family: 'Kanit', sans-serif;
    color: #ff6f68;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed #ff6f68;
    border-radius: 2px;
}