

<header>
    <button style="padding: 5px; background: none; border: 1px solid gainsboro; float: right; margin: auto; cursor: pointer;" >Logout</button>
</header>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['menuActivado']" > 
        Home
    </a>
    <a [routerLink]="['/empresa']" [routerLinkActive]="['menuActivado']" > 
            Empresa
    </a>
    <a [routerLink]="['/empleado']" [routerLinkActive]="['menuActivado']" > 
        Empleado
    </a>
    <a [routerLink]="['/contacto']" [routerLinkActive]="['menuActivado']" > 
        Contactenos
    </a>

</nav>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="mat-app-background basic-container">
    <sidenav-responsive-example>loading</sidenav-responsive-example>
</div>

<div class="container">
    <main>
        
    </main>
    <aside>
        
    </aside>
</div>

<footer style="text-align: center;">
    <p>Copyright &copy; 1990-2020 los Moishis, todos los derechos reservados.</p>
</footer>
